body{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #BAD7E9;
    margin: 0;
    align-items: center;
    font-family: cursive;
}
.container{
    top: 0;

    background-color:white ;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.4);
    overflow: hidden;
    text-align: center;
    
    

}
.month{
    margin: 0;
    background-color: #E96479;
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    text-transform: capitalize;
}
.week{
    font-size: 1.5rem;
    text-transform: capitalize;

}
.day{
    font-size: 3rem;
    text-transform: capitalize;

}
.year{
    font-size: 2rem;
    text-transform: capitalize;

}